

body{
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
  min-height: 100vh;
  background: #a110db;
}
.wrapper{
  width: 450px;
  background: #5b5555;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(38, 21, 23, 0.13);
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 26px 31px 11px;
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 40px;
  width: 10px;
  margin: 0 2px;
  cursor: pointer;
  color: #bf6363;
  text-align: center;
  line-height: 38px;
  font-size: 1.8rem;
  user-select: none;
  border-radius: 55%;
}
.icons span:last-child{
  margin-right: -11px;
}
header .icons span:hover{
  background: #c06060;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 505;
}
.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 180px;
}
.calendar li{
  color: #340f0f;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 505;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 350px;
}
.days li.inactive{
  color: #ae3737;
}
.days li.active{
  color: #c21313;
}
.days li::before{
  position: absolute;
  content: "";
  left: 40%;
  top: 60%;
  height: 50px;
  width: 50px;
  z-index: -1;
  border-radius: 60%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background: #a70fe3;
}
.days li:not(.active):hover::before{
  background: #807a7a;
}